.leftDiv {
	float: left;
}
.leftDiv div, .br {
	clear: both;
}
#mask {
	display:none;
}
canvas {
	border-style: solid;
	border-width: 1px;
}
a {
	color: black;
}
body {
	line-height: 25px;
	padding-top:20px;
	font-family: 'Fauna One', serif;
}
